<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <add key="Mysql" value="port=3306;server=localhost;user id=root;password=Lijiajin1987;database=officialwebsite" />
    <!--<add key="Mysql" value="port=3306;server=localhost;user id=website;password=websitemgr;database=website" />-->
    <add key="txtiosapplink" value="http://localhost:2498/View/Home.aspx" />
    <add key="txtapklink" value="http://localhost:2498/View/About.aspx" />
    <add key="txtTeamTitle" value="家庭医生在线app管理团队" />
    <add key="Keywords" value="家庭医生在线，家庭医生，健康，医疗，移动医疗，移动健康" />
    <add key="OW_Title" value="家庭医生在线APP" />
    <add key="Description" value="家庭医生在线APP，由影响了几代人的知名健康传媒品牌“家庭医生”出品，是一个在内容、功能、服务、体验及研发技术等方面超越市面上的其他健康APP，能够“一站式”提供从一线临床医生在线解答，到疾病自查、家庭药箱、提醒/分享、养生/资讯，再到全国落地的健康体检/就医绿色通道等健康管理服务的、中国领先的O2O平台" />
    <add key="LOGOimg" value="../Images/LOGOimg/201508201454492424.png" />
  </appSettings>
</configuration>